
*.pyc
.vscode/settings.json
*.h
Code/bin_manager/bin_manager/settings.py
Code/Include
Code/Lib
Code/Scripts
Code/tcl
*.pyc
*.cpython*
*.cpython-37.pyc
Code/*.cpython-37.pyc
Code/bin_manager/mgr_customer/__init__.py
Code/bin_manager/bin_manager/__pycache__/__init__.cpython-37.pyc
Code/bin_manager/bin_manager/__pycache__/settings.cpython-37.pyc
Code/bin_manager/bin_manager/__pycache__/wsgi.cpython-37.pyc
Code/bin_manager/mgr_accounts/__pycache__/__init__.cpython-37.pyc
Code/bin_manager/mgr_accounts/__pycache__/admin.cpython-37.pyc
Code/bin_manager/mgr_accounts/__pycache__/urls.cpython-37.pyc
Code/bin_manager/mgr_accounts/__pycache__/views.cpython-37.pyc
Code/bin_manager/mgr_accounts/migrations/__pycache__/__init__.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/__init__.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/admin.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/adminindex.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/forms.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/urls.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/view_block.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/view_customer.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/view_route.cpython-37.pyc
Code/bin_manager/mgr_admintask/__pycache__/views.cpython-37.pyc
Code/bin_manager/mgr_admintask/migrations/__pycache__/__init__.cpython-37.pyc
Code/bin_manager/mgr_database/__pycache__/__init__.cpython-37.pyc
Code/bin_manager/mgr_database/__pycache__/admin.cpython-37.pyc
Code/bin_manager/mgr_database/__pycache__/models.cpython-37.pyc
Code/bin_manager/mgr_database/migrations/__pycache__/0001_initial.cpython-37.pyc
Code/bin_manager/mgr_database/migrations/__pycache__/__init__.cpython-37.pyc
\migrations\
\_pycache_\
