{% extends "base_driver.html" %}
{% block content2 %}

    <h2>Report an Issue</h2>
    
        {% if issue_obj %}
            <form action= "{% url 'truckdriver:issue_edit' pk=issue_obj.pk %}" method="POST" class="issue-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-dark">Save</button>
            </form>

        {% else %}
            <form action= "{% url 'truckdriver:report_issue' %}" method="POST" class="issue-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-dark">Save</button>
            </form>
        {% endif %}
    
{% endblock %}